@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');
*,
*::after,
*::before {
    box-sizing: border-box;
}
html {
    font-size: 15px;
}
img {
    display: block;
    margin-bottom: 2.5em;
}
body {
    width: 100%;
    height: 100vh;
    background-color: aliceblue;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


/* Typography */

h1 {
    font-family: 'Big Shoulders Display', cursive;
    text-transform: uppercase;
    color: hsl(0, 0%, 95%);
}
@media (min-width: 768px) {
    h1 {
        font-size: 2.6rem;
        margin-bottom: 1em;
    }
}
p {
    font-family: 'Lexend Deca', sans-serif;
    color: hsla(0, 0%, 100%, 0.75);
    margin-bottom: 3rem;
    line-height: 1.6;
    max-width: 100%;
}
@media (min-width: 768px) {
    p {
        margin-bottom: 5rem;
        font-size: 1.3rem;
        max-width: 100%;
    }
}
a {
    font-family: 'Lexend Deca', sans-serif;
    text-decoration: none;
    font-size: 90%;
    padding: .4em 1em;

}
@media (min-width: 768px) {
    a {
        font-size: 1rem;
        padding: .7em 1.9em;
        position: absolute;
        bottom: 4em;
    }
}

/* Layout */

main {
    max-width: 1200px;
    width: 90%;
    padding: 0 2.2em;
    max-height: 90%;
}
@media (min-width: 768px) {
    main {
        width: 75%;
        max-width: 1200px;
        height: auto;
        display: flex;
        height: 90%;
    }
}

.cont-1 {
    background-color:  hsl(31, 77%, 52%);
    padding: 3em;
    border-radius: 7px 7px 0 0;
    position: relative;
}
.cont-2 {
    background-color: hsl(184, 100%, 22%);
    padding: 3em;
    position: relative;
}
.cont-3 {
    background-color: hsl(179, 100%, 13%);
    padding: 3em;
    border-radius: 0 0 7px 7px;
    position: relative;
}

@media (min-width: 768px) {
    .cont-1 {
        border-radius: 7px 0 0 7px;
    }
    .cont-3 {
        border-radius: 0 7px 7px 0;

    }
}




/* button */

a {
    padding: .7em 1.9em;
    border-radius: 30px;
    border: 0 solid transparent;
    background-color: beige;
}
.btn-orng {
    color: hsl(31, 77%, 52%); 
}
.btn-grn {
    color: hsl(184, 100%, 22%); 
}
.btn-dk-grn {
    color: hsl(179, 100%, 13%); 
}
a:hover,
a:focus {
    background-color: transparent;
    color: hsl(0, 0%, 95%);
    border: 1.5px solid hsl(0, 0%, 95%);
}